# This is the topmost .editorconfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length=80

[*.txt]
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false
